body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image{
  max-height: 250px;
  max-width: 250px;
  cursor: pointer;
}
.image:hover{
  max-height: 280px;
  max-width: 280px;
  cursor: pointer;
}

.name{
  font-size: 22px;
  font-weight: bold;
  color: blue;
  cursor: pointer;
}
.description{
  font-size: 15px;
  color: darkcyan;
}
.price{
font-size: 20px;
font-weight: bold;
}

.cartQuantity{
  font-size: 15px ;
}
@media only screen and (min-width: 400px) {
  .homeGrid{
    padding: 10px;
    display: grid;
    grid-template-columns: auto ;
  }}

  @media only screen and (min-width: 600px) {
    .homeGrid{
      display: grid;
      grid-template-columns: auto auto;
    }}

  @media only screen and (min-width: 900px) {
    .homeGrid{
      display: grid;
      grid-template-columns: auto auto auto;
    }}

@media only screen and (min-width: 1000px) {
  .homeGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
  }}

@media only screen and (min-width: 1500px) {
.homeGrid{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}}



  
.detailGrid{
  padding:10px;
  display: grid;
  grid-template-columns: 40% 60%;
}

li{
  list-style: none;
}

.cartImage{
  max-height: 50px;
  max-width: 50px;
  cursor: pointer;
}

.cartName{
  font-size: 15px;
}

.cartPrice{
  font-size: 15px;
}

@media only screen and (min-width: 400px) {
.categoryGrid{
  display: grid;
    padding:30px;
    padding-bottom: 60px;
    padding-left: 20px;
    grid-template-columns: 100%;
    grid-template-rows: 250px 250px;
}}

@media only screen and (min-width: 1200px) {
  .categoryGrid{
    display: grid;
      padding:30px;
      padding-left: 0px;
      grid-template-columns: 50% 50%;
  }}

@media only screen and (max-width: 400px) {
  .detailPageGrid{
    display: grid;
    padding:10px;
    padding-left: 20px;
    grid-template-columns: 100%;
  }

}
@media only screen and (min-width: 500px) {
.detailPageGrid{
  display: grid;
  padding:10px;
  padding-left: 20px;
  grid-template-columns: 70% 30%;
}
}

.detailPageImage{
max-width: 90%;
max-height: 600px;
}
.detailPageName{
   font-size: 22px;
   font-weight: bold;
   font-style: italic;
}

.detailPagePrice{
  font-size: 25px;
  font-weight: bold;
  color: blue;
}

.topnav {
  background-color: #333;
  padding: 10px;
max-height: 80px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 19px;
  text-decoration: none;
  font-size: 17px;
}

@media only screen and (min-width: 400px) {
  .inputField{
    padding-left:10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border:cornsilk;
    font-size: 30px;
  }
  .navigationBar{
    display: grid;
    cursor: pointer;
    grid-template-columns: 20px 200px 43% 110px 140px;
  
  }
  }

@media only screen and (min-width: 600px) {
.inputField{
  padding-left:10px;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border:cornsilk;
  font-size: 30px;
}
.navigationBar{
  display: grid;
  cursor: pointer;
  grid-template-columns: 20px 200px 53% 110px 140px;

}
}

@media only screen and (min-width: 950px) {
  .inputField{
    padding-left:10px;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border:cornsilk;
    font-size: 30px;
  }
  .navigationBar{
    display: grid;
    cursor: pointer;
    grid-template-columns: 20px 200px 58% 110px 140px;
  
  }
}
  @media only screen and (min-width: 1000px) {
    .inputField{
      padding-left:10px;
      width: 600px;
      height: 50px;
      border-radius: 10px;
      border:cornsilk;
      font-size: 30px;
    }
    .navigationBar{
      display: grid;
      cursor: pointer;
      grid-template-columns: 20px 200px 60% 110px 140px;
    
    }
  }
  @media only screen and (min-width: 1100px) {
    .inputField{
      float: left;
      padding-left:10px;
      width: 900px;
      height: 50px;
      border-radius: 10px;
      border:cornsilk;
      font-size: 30px;
    }
    .navigationBar{
      display: grid;
      cursor: pointer;
      grid-template-columns: 20px 200px 67% 120px 140px;
    
    }
  }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidenav a {
  padding: 8px 8px 8px 32px ;
  text-decoration: none;
  font-size: 35px;
  color: blue;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: blue;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 36px;
  margin-left: 50px;
}

.addButton{
  background-color: blueviolet;
  color: white;
  width: 100px;
  height: 100px;
  font-size: 50px;
border:mediumspringgreen;
}

.createButton{
  background-color: blueviolet;
  color: white;
  width: 100px;
  height: 100px;
  font-size: 20px;

}

.border{
  border-style: solid;
}

.formLayout{
  width: 30Rem;
  border:groove;
  border-color: green;
  background-color:gainsboro ;
}

.field{
  width: 100%;
  height: 40px;
  border:chartreuse;
  padding: 20px 20px;
  margin: 10px -5px;
  box-sizing: border-box;
}

.col{
  padding-left: 20px;
  width: 100px;
}
.formButton{
  min-width: 330px;
  height: 40px;
  border-radius: 8px;
  color: white;
  background-color:sandybrown;
}
.formButton:hover{
  background-color: darkblue;
}

.categoryCol{
  padding-left: 15px;
  padding-right: 15px;
  margin: 8px -8px;
  width: 100px;
}

button{
  background-color:sandybrown;
  color:white;
  border-radius: 2px;
}
button:hover{
  background-color: darkblue;
}

.review{
  padding: 10px;
}

.reviewData{
  padding-left: 80px;
}

.footer {
  padding-top: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 8px;
}

.cartBox{
padding: 30px;
  float: right;
}

.websiteName{
  text-decoration: none;
  font-size: 40px;
}

.dropdownPosition{
  float: right;
}

.endBorder{
  border-bottom :gainsboro solid;
  margin: 8px;
}

.backButton{
  min-width: 330px;
  height: 40px;
  border-radius: 8px;
color: white;
border: red;
background-color: red;
}